{% extends "base.html" %}

{% block content %}
    <h1 class="center" style="font-size: 12px;">Secret Page</h1>
    <h1 class="center" style="font-size: 12px;">Hello, {{secret_user.username}}!</h1>
    <h1 class="center" style="font-size: 12px;">You made it into the website with a secure password!</h1>
    <h1 class="center" style="font-size: 12px;">Creating longer passwords out of easy to remember phrases are much more powerful than a short and complex one</h1>
    <h1 class="center" style="font-size: 12px;">It'll be even better once we add two factor authentication with a cell phone!</h1>
{% endblock %}